OXYPRESS_ENV_DIR="./.env.local.template"

OXYPRESS_WEB_CWD_RELATIVE="./oxypress_web_server"

OXYPRESS_WEB_ENABLE_LOGGING=false

OXYPRESS_WEB_HTTP_PORT=8080

OXYPRESS_WEB_HTTPS_PORT=8081

# comment this out if you want to use trusted certs
OXYPRESS_WEB_UNTRUSTED_CERT_DIRECTORY="./generated_local_certs"

# will only use this directory is self-cert is missing
OXYPRESS_WEB_TRUSTED_CERT_DIRECTORY="/foo/bar/"

OXYPRESS_WEB_HOSTNAME="khadeemdacosta.ca"

OXYPRESS_WEB_ALT_HOSTNAMES="khadeemdacosta.ca"
